<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <div id="formFooter">
            <h2 class="active">EVALUACIONES</h2>
        </div>


        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
            <input type="submit" class="fadeIn fourth" value=" INICIAR SESSION ">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="inactive underlineHover" href="#"> REGISTRO ESTUDIANTE </a>
            <a class="inactive underlineHover" href="#"> REGISTRO ADMINISTRATIVO </a>
        </div>

    </div>
</div>
</body>
</html>
